<div class="row">
  <div class="col-md-12">
    <div class="container-fluid p-5">
      <div class="row ">
        <div class="col-md-4 text-right">  <img src="assets/home1.png"></div>
        <div class="col-md-8 text-center "><button mat-raised-button color="primary"  class=" mt-5 p-5"><h2>Bu program öğrenci notlarını takip etmek ve sizlere daha kaliteli hizmet sunabilmek için tasarlandı..</h2></button></div>
      </div>
      <div class="row mt-5">
        <div class="col-md-8 mt-5 text-center "><button mat-raised-button color="basic" class="p-5"><h3>Öğrencilerimizin en güncel bilgi,ödev,not ve duyuruları artık mobil,tablet veya bilgisayarınızdan rahatlıkla takip edebileceksiniz..</h3></button></div>
        <div class="col-md-4 text-left">  <img src="assets/home2.png"></div>

      </div>



    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12 text-center">
    <h2 style="font-family: 'Oleo Script Swash Caps', cursive;">Ders Notları Yükleniyor sevgi ve bilgiyle kalın ..</h2>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12 mt-4 text-center">
    <button class="btn btn-outline-light">
      <mat-spinner></mat-spinner>
    </button>
  </div>
</div>
<!-- <register></register> -->
<div class="row mt-5">
  <div class="col-md-12 text-center">

      <h2>DUYURULAR</h2> <hr>

  </div>
</div>
